@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-arrow.slick-prev, 
.slick-arrow.slick-next{
  width: 60px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 35px !important;
  border-radius: 50%;
}
.slick-prev::before, .slick-next::before{
  display: none;
}

.card:hover .img{

    transform: scale(1.08);
    object-fit: contain;
  

}

.card:hover .title{
  display: none;
}

.card:hover .cart{
  display: block;
}